.jumbotron
  %h1 Welcome to SoClassy
  %p You don't need a password to use SoClassy, but you do need to sign in.
  %p Enter your email address above, and we'll send you a link that will sign you in.
  %P The link will continue to work until you request a new one.