%div{ 'data-bind': 'if: $data.length === 0' }
  .alert.alert-info No comments to display
%ul.media-list{ 'data-bind': 'foreach: $data' }
  %li.media
    %div{ 'data-bind': 'if: isAuthor' }
      .pull-right
        %button.btn.btn-link{ 'data-bind': 'click: function() { $parents[1].deleteComment($data); }' } Delete
    .media-left
      %img{ 'data-bind': 'attr: { src: author.gravatar_url, alt: author.name + "\'s avatar", title: author.name + "\'s avatar" }' }
    .media-body
      %h4.media-heading
        %a{ 'data-bind': 'text: author.display_name, attr: { href: author.routes.show }' }
        %small
          %relative-time{ params: "iso8601: created_at" }
      %div.preformatted{ 'data-bind': 'text: body'}
    %div{ 'data-bind': 'if: $index() < ($data.length - 1)' }
      %hr