- if topics.empty?
  %p.text-muted No topics to display
- else
  - topics.each do |topic|
    .row
      .col-xs-12
        .pull-right
          =react_component('QuickJoin', { collectionName: 'Teacher', initialMemberCount: topic.teachers.size, isInitiallyMember: (topic.teachers.include? current_user), joinUrl: add_teacher_topic_path(topic), leaveUrl: remove_teacher_topic_path(topic) }, { tag: 'span' })
          =react_component('QuickJoin', { collectionName: 'Student', initialMemberCount: topic.students.size, isInitiallyMember: (topic.students.include? current_user), joinUrl: add_student_topic_path(topic), leaveUrl: remove_student_topic_path(topic) }, { tag: 'span' })
          
        %span.h4
          %a{href: topic_path(topic)}=topic.name
          %small
            -if topic.owner
              by
              %a.hidden-link{href: user_path(topic.owner)}= topic.owner.display_name
        %hr