.div{ 'data-bind': 'if: $data.length === 0' }
  %hr
  .alert.alert-info 
    No topics to display. Press
    %kbd Enter
    to create a topic with this name.
.div{ 'data-bind': 'foreach: $data' }
  .div{ 'data-bind': "if: $index() === 0"}
    %hr
  .row
    .col-xs-12
      .pull-right
        %quick-join{ params: '{ collectionName: "Teacher", collection: teachers, joinFunction: teach, leaveFunction: stopTeaching }' }
        %quick-join{ params: '{ collectionName: "Student", collection: students, joinFunction: learn, leaveFunction: stopLearning }' }
        
      %span.h4
        %a{'data-bind': 'attr: { href: routes.show }, text: name'}
        %small
          by
          %a.hidden-link{'data-bind': 'attr: { href: owner.routes.show }, text: owner.name'}
      %hr