%ul.media-list
  %div{ 'data-bind': 'if: $data.length === 0' }
    .alert.alert-info No users to display
  %div{ 'data-bind': 'foreach: $data' }
    %li.media
      .media-left
        %img{ 'data-bind': 'attr: { src: gravatar_url, alt: name + "\'s avatar", title: name + "\'s avatar" }' }
      .media-body
        %h4.media-heading
          %a{'data-bind': 'attr: { href: routes.show }, text: display_name' }
        %p{'data-bind': 'text: (name ? email : "")'}

