%ul.media-list
  -if users.empty?
    .alert.alert-info No users to display
  -else
    -users.each do |user|
      %li.media
        .media-left
          =gravatar_for(user, size=50)
        .media-body
          %h4.media-heading
            %a{href: user_path(user)}= user.display_name
          %p= (user.email if user.name)

