.users
  .row
    .col-xs-12
      =render 'application/back_button'

  %h1 Edit your Profile

  =form_for @user, html: { method: 'patch' } do |form|
    .form-group
      =form.label :name, class: 'control-label'
      =form.text_field :name, class: 'form-control'
    .form-group
      %button.btn.btn-default{type: 'submit'} Update