.topics {

  @include make-xs-column(12);
  @include make-md-column(10);
  @include make-md-column-offset(1);

  .topic-actions {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .quickjoin {
    width: 8em;
  }

  .email-checkbox-tag {
    margin-right: 5px;
    margin-left: 3px;
  }
}