.navbar-right
  - if current_user
    = link_to "This isn't me...", { controller: :users, action: :logout }, class: 'navbar-text'
  - else
    = form_tag({ controller: :users, action: :login }, class: 'navbar-form') do
      .form-group
        = label_tag(:email)
        = email_field_tag(:email, nil, class: 'form-control')
      %button.btn.btn-default{type: 'submit'} Log in