%ul.media-list
  -if people.empty?
    %p.text-muted No people to display
  -else
    -people.each do |person|
      %li.media
        .media-left
          =gravatar_for(person, size=50)
        .media-body
          %h4.media-heading
            %a{href: user_path(person)}= (person.name or person.email)
          %p= (person.email if person.name)

